@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&family=Secular+One&display=swap");

html {
  overflow: auto;
  height: 100%;
}

body {
  font-family: "Secular One", sans-serif;
  color: #10132c;
  background-image: linear-gradient(180deg, rgba(150, 171, 211, .2), rgba(150, 171, 211, 0));
  background-repeat: no-repeat;
  height: 100%;
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
  background:#f6f7fb
}

#root, .App{
  height: 100%;
}

p {
  margin: 0;
}
.App{
      max-width: 1180px;
        margin: 0 auto;
        padding: 0 15px 0 15px;
}
